input[type="text"]:required, input[type="number"]:required {
      position: relative;
}
/* 
input[type="text"]:required::before, input[type="number"]:required::before {
      content: "*";
      color: red;
} */